@page "/universe"
<PageTitle>@CurrentUniverse.Name</PageTitle>

@using SWNBlazorApp.Data
@using SWNUniverseGenerator.Models
@using System.Reflection
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using SWNUniverseGenerator.CreationTools

@inject ProtectedSessionStorage ProtectedSessionStore
@inject UniverseService UniverseService
@inject Universe CurrentUniverse

<h1>@CurrentUniverse.Name</h1>
<MudGrid>
    <MudItem xs="4">
        <MudImage Src="@(starmapPath + "/" + CurrentUniverse.Id + ".svg")" Alt="Starmap"/>
    </MudItem>
</MudGrid>


@code {
    private static String wwwrootPath = "wwwroot";
    private static String starmapPath = "/images/starmaps";

    protected override async Task OnInitializedAsync()
    {
        var universeId = await ProtectedSessionStore.GetAsync<string>("SelectedUniverse");
        if (!string.IsNullOrEmpty(universeId.Value))
        {
            CurrentUniverse = UniverseService.GetUniverseAsync(universeId.Value).Result;
        }
        if (CurrentUniverse != null)
        {
            if (!File.Exists($"{wwwrootPath + starmapPath}/{CurrentUniverse.Id}.svg"))
            {
                GrabStarmap();
            }
        }
        
    }

    public void GrabStarmap()
    {
        var remotePath = $"{Path.GetDirectoryName(Assembly.GetExecutingAssembly().Location)}/{CurrentUniverse.Id}.svg";
        var localPath = $"{wwwrootPath + starmapPath}/{CurrentUniverse.Id}.svg";

        if (!File.Exists(remotePath))
        {
            Creation creation = new Creation();
            creation.CreateStarMap(CurrentUniverse.Id);
        }
        
        File.Copy(remotePath, localPath);
    }
}