@using SWNBlazorApp.Data
@using SWNUniverseGenerator.CreationTools
@using SWNUniverseGenerator.Models
@using System.Drawing
@using System.Reflection
@page "/universe"

<PageTitle>@CurrentUniverse.Name</PageTitle>

@inject UniverseService UniverseService
@inject Universe CurrentUniverse

<h1>@CurrentUniverse.Name</h1>


<MudGrid>
    <MudItem xs="12">
        <MudImage Src="@(CurrentUniverse.Name + ".png")" Elevation="25" Alt="Starmap"/>
    </MudItem>
</MudGrid>

@code {
    private String dataPath = Path.GetDirectoryName(Assembly.GetExecutingAssembly().Location);

    protected override async Task OnInitializedAsync()
    {
        CurrentUniverse = UniverseService.GetUniverseAsync().Result;

        if (!File.Exists($"{CurrentUniverse.Name}.png"))
        {
            GenerateImage();
        }
    }

    public void GenerateImage()
    {
        GridCreation gd = new GridCreation();
        Image starmap = gd.ImageFromBase64String(CurrentUniverse.StarMap);
        starmap.Save($"{CurrentUniverse.Name}.png");
    }
}