@using SWNBlazorApp.Data
@using SWNUniverseGenerator.CreationTools
@using SWNUniverseGenerator.Models
@page "/universe"

<PageTitle>@CurrentUniverse.Name</PageTitle>

@inject UniverseService UniverseService
@inject CreationService CreationService
@inject Universe CurrentUniverse
@inject Persistence Persistence
@inject SerializeClass SerializeClass

<h1>@CurrentUniverse.Name</h1>


<MudGrid>
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudButton OnClick="@(() => GridCreate())" Color="Color.Primary">Create Grid</MudButton>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {

    protected override async Task OnInitializedAsync()
    {
        CurrentUniverse = UniverseService.GetUniverseAsync().Result;
    }

    public void GridCreate()
    {
        GridCreation.CreateGrid(CurrentUniverse);
    }
}